@media screen and (min-width:360px) and (max-width:740px) {
  
body{
    overflow-x: hidden;
}

nav{
    width: 90%;
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding: 20px 0px;
}

nav ul{
    display: none;
}

main .sec-one .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-direction: column-reverse;
}

.container{
    max-width: 95%;
}

section, footer{
    padding: 15px;
}

p{
    font-size: 11.14px;
}

button{
    padding: 7px;
    font-size: 10px;
}


main .sec-one .text-sec-one{
    text-align: center;
}

main .sec-one .text-sec-one p{
    padding: 10px 0px 15px 0px;
}

main .sec-one h1{
    font-size: 25px;
}

main .sec-one .container .img-sec-one{
   width: 70%;
}

main .sec-one .img-sec-one img {
   width: 100%;
   
}

main .sec-two .text-sec-two h2{
    font-size: 20px;
}

main .sec-two .icons-sec-two{
    padding: 0 20px;

}

main .sec-two .icons-sec-two img{
    width: 20px;
}

main .sec-tree .container h2{
    font-size: 20px;
}

main .sec-tree .container p{
    margin: 5px 0px;
}

main .sec-tree .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .sec-tree .cards .card{
    width: 90%;
    margin-bottom: 30px;
}

main .sec-tree .cards .card h2{
    font-size: 20px;
    padding-top: 3px;
}

main .sec-for .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .sec-for .container .tex-sec-for{
    width: 100%;
    text-align: center;
}

main .sec-for .container .img-sec-for{
    width: 70%;
}

main .sec-for h2{
    font-size: 20px;
}

main .sec-for .text-sec-for p{
    padding: 7px 0px 10px 0px;
}

main .sec-five .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    text-align: center;
}

main .sec-five .container div{
   width: 100%; 
}

main .sec-five .numbers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0px;
    padding: 0px 30px;
}

main .sec-five .numbers h2{
    font-size: 16px;
}

main .sec-five .numbers .icon{
    display: flex;
    gap: 0px;
}

main .sec-five .numbers .icon img{
    width: 25px;
    padding: 0px;
}

main .sec-six .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

main .sec-six .container .img-sec-six{
    width: 70%;
}

main .sec-six .img-sec-six img{
    width: 100%;
    padding-bottom: 10px;
}

main .sec-six .text-sec-six h2{
    font-size: 20px;
}

main .sec-six .text-sec-six p{
    max-width: 300px;
    text-align: justify;
    padding: 7px 0px 10px 0px;
}

main .sec-seven .container{
    display: flex;
    flex-direction: column;
}

main .sec-seven .container .img-sec-seven{
    width: 70%;
    margin: auto;
}

main .sec-seven .container .img-sec-seven img{
    width: 100%;
}

main .sec-seven .text-sec-seven {
    text-align: justify;
    width: 100%;
}

main .sec-seven .text-sec-seven .logos img{
    width: 20px;
}

main .sec-seven .text-sec-seven .logos a{
    font-size: 10px;
}

main .sec-height .container {
    text-align: center;
}

main .sec-height .container .text-sec-height h2{
    font-size: 20px;
}

main .sec-height .cards{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

main .sec-height .cards .card{
    width: 100%;
    display: flex;
    align-items: center;
}

main .sec-height .cards .card img{
    width: 50%;
}

main .sec-height .cards .card div{
    position: relative;
    width: 50%;
    height:190px;
    margin-top: -350px;
    margin-right: 20px;
}

main .sec-nine{
    padding-bottom: 35px;
}

main .sec-nine h1{
    font-size: 25px;
}

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .fot{
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .fot img{
    margin-left: -20px;
}

footer .fot .fot-icons img{
    width:30px;
}

footer #pute form input{
    display: block;
    margin: 30px auto 0px auto;
}

}