@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-p: #717171;
    --color1: #4CAF4F;
    --color12: #4D4D4D;
    --color-footer: #263238;
    --white-neutro: #F5F7FA;
    --sec-one: #E0E0E0;
    --font:  "Roboto", sans-serif;
}

body, html{
    font-family: var(--font);
}

h1, h2, h3{
    color: var(--color12);
}

p{
    color: var(--color-p);
}

section, footer{
    padding: 30px 0px;
}

.container{
    max-width: 1000px;
    margin: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 0px;
}

nav ul li a{
    color: var(--color12);
}

button{
    padding: 15px 30px;
    background-color: var(--color1);
    border: none;
    color: var(--white-neutro);
    border-radius: 4px;
    cursor: pointer;
}

main .sec-one{
    background-color: var(--white-neutro);
    width: 100%;
}

main .sec-one .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 0px;
}

main .sec-one .container .tex-sec-one{
    width: 70%;
}

main .sec-one .container .img-sec-one{
    width: 30%;
}

main .sec-one h1{
    font-size: 60px;
    font-weight: 700;
}

main .sec-one p{
    font-size: 11.14px;
    padding: 20px 0px 30px 0px;
}

main .sec-one strong{
    color: var(--color1);
}

main .sec-one div img{
    width:100%;
}

main .sec-two .text-sec-two{
    text-align: center;
}

main .sec-two .text-sec-two p{
    margin: 10px 0px;
}

main .sec-two .text-sec-two h2{
    font-size: 36px;
}

main .sec-two .icons-sec-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    margin-top: 11px;
}

main .sec-tree .container{
    text-align: center;
}

main .sec-tree .container h2{
    font-size: 36px;
    font-weight: 500;
}

main .sec-tree .container p{
    margin: 15px 0px;
}

main .sec-tree .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

main .sec-tree .card{
    width: 25%;
    padding: 20px 10px;
    cursor: pointer;
}

main .sec-tree .card h2{
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
}

main .sec-tree .card p{
    font-size: 13.9px;
}

main .sec-tree .cards div:hover{
    box-shadow: 0px 4px 10px 0px rgba(119, 136, 153, 0.24);
}

main .sec-for .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .sec-for .container .tex-sec-for{
    width: 70%;
}

main .sec-for .container .img-sec-for{
    width: 100%;
}

main .sec-for h2{
    font-size: 36px;
    font-weight: 500;
}

main .sec-for .text-sec-for p{
    font-size: 11.14px;
    padding: 20px 0px 30px 0px;
}

main .sec-for div img{
    width:100%;
}

main .sec-five{
    background-color: var(--white-neutro);
}

main .sec-five .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    gap:200px;
}

main .sec-five .container div{
    width: 50%;
}

main .sec-five .numbers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

main .sec-five .numbers .icon{ 
    display: flex;
    gap: 15px;
}

main .sec-five .numbers .icon img{
    width: 33px;
}

main .sec-five .numbers .icon p{
    font-size: 11px;
}

main .sec-five .text-sec-for h2{
    font-size: 36px;
    font-weight: 500;
}

main .sec-five .text-sec-for strong{
    color: var(--color1);
    font-weight: 500;
}

main .sec-five .text-sec-five p{
    font-size: 16px;
    margin: 10px 0px;
    color: var(--color-footer);
}

main .sec-six .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0px;
}

main .sec-six .container .tex-sec-six{
    width: 70%;
}

main .sec-six .container .img-sec-six{
    width: 30%;
}

main .sec-six h2{
    font-size: 36px;
    font-weight: 500;
}

main .sec-six .text-sec-six p{
    font-size: 11.14px;
    padding: 20px 0px 30px 0px;
    width: 550px;
}

main .sec-six div img{
    width:100%;
}

main .sec-seven{
    background-color: var(--white-neutro);
}

main .sec-seven .container{
    display: flex;
    justify-content: space-between;
}

main .sec-seven .img-sec-seven{
    width: 30%;
}

main .sec-seven .img-sec-seven img{
    width: 100%;
}

main .sec-seven .text-sec-seven {
    width: 65%;
}

main .sec-seven .text-sec-seven p, h3{
    margin-bottom: 15px;
}

main .sec-seven .text-sec-seven h3, a{
    color: var(--color1);
    font-weight: 600;
}

main .sec-seven .text-sec-seven .logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .sec-height .container{
    margin-bottom: 80px;
}

main .sec-height .container .text-sec-height{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .sec-height .container .text-sec-height p{
    padding: 15px 0px;
    max-width: 60%;
}

main .sec-height .container .text-sec-height h2{
    font-size: 33px;
    font-weight: 500;
}

main .sec-height .cards{
    display: flex;
    justify-content: space-between;
    position: relative;
}

main .sec-height .cards .card{
    width: 32%;
}

main .sec-height .cards .card img{
    width: 100%;
}

main .sec-height .cards .card div{
    width: 270px;
    text-align: center;
    background-color: var(--white-neutro);
    border-radius: 5px;
    position: absolute;
    top: 175px;
    transform: translate(25px);
    padding: 20px;
    box-shadow: 2px 3px 10px 4px rgba(25, 77, 109, 0.199);
}

main .sec-height .cards .card div h3{
    font-size: 18.5px;
    color: var(--color-p);
    font-weight: 500;
}

main .sec-nine {
    text-align: center;
    background-color: var(--white-neutro);
}

main .sec-nine h1{
    font-size: 52.9px;
    color: var(--color-footer);
    padding: 20px 0px;
}

footer{
    background-color: var(--color-footer);
}

footer .container{
    display: flex;
    justify-content: space-between;
    color: var(--white-neutro);
    padding: 20px 0px;
}

footer p, h3{
    color: var(--white-neutro);
}

footer .fot img{
    padding: 20px 0px 40px 0px;
}
footer .fot p{
    margin-bottom: 15px;
    font-size: 14px;
}

footer .fot .fot-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    gap: 10px;
}

footer .fot .fot-icons img{
    width: 40px;
    padding: 7px;
    background-color: rgba(128, 128, 128, 0.573);
    border-radius:100% ;
}

footer div ul li{
    line-height: 2em;
}

footer div form input{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #7171717d;
    color: var(--white-neutro);
}

footer div form input::placeholder{
    color: var(--white-neutro);
}


